.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  background-color: #973610;
  border: none;
  border-radius: 12px;
  font: inherit;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #732706;
}

.cart-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
}

.badge {
  background-color: #b94517;
  padding: 0.3rem 1rem;
  border-radius: 12px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

.bump {
  animation: bump 300ms ease-in-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
