.input {
  display: flex;
  flex-direction: column;
}

.input label {
  color: #000;
  font-weight: bold;
}

.input input {
  width: 100%;
  padding: 8px;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
}

.input input:focus {
  outline: none;
  border: 1px solid #000;
}
